body {
    font-family: helvetica;
    background-color: bisque;
}
#high-scores {
    position: absolute;
    top: 15px;
    left: 80px;
    text-decoration: underline;

}

#user-score {
    position: absolute;
    top: 15px;
    left: 725px;
    font-weight: bold;
    font-size: 20px;
    
    


}


#current-time {
    position: absolute;
    top: 15px;
    right: 80px;
    text-decoration: underline;
    font-weight: bold;
}

#rules {
    border: 2px solid black;
     padding: 15px;
    /*margin-left: 500px;
    margin-right: 500px;
    position: relative; */
}

#start-screen, 
#question-zone, 
#end-screen {
    text-align: center;
    margin-top: 100px;
}
button {
    background-color: orange; 
    border: 2px solid black;
    margin: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 10em;
    
  }

#submit {
    background-color: orange; 
    border: 2px solid black;
    
    margin: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#text-score {
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#initials {
    padding: 9x;
    margin-top: 5px;
}

#text-initials {
    font-weight: bolder;
}